<a href="https://colab.research.google.com/github/Avisikta-Majumdar/Data-Science/blob/main/Numpy_1_To_Reshape_The_Array_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <i>Importing <b>numpy

In [1]:
import numpy as np

## Suppose we have created an array of shape (3,2,3) (3-D array)<br>
### Now,we want to reshape the array into 2-D ,
### *So how many ways are there to convert the array into 2-D ??*<br>
### *Only 6 ways are there*<br>
* #### (1,18)
* #### (2 ,9 )
* #### (3 , 6)
* #### (6, 3)
* #### (9 , 2)
* #### (18 , 1)

### Now if i want to convert the array into 2-D <br>
### where the **no of rows will be n** then we can do like this also <br>
## <u><b> Syntax</u> :-
# <font size='+5' color ="##ff0d0d"><b><code> array = array.reshape((n , -1)) </code> 
### It will auto calculate the column number

In [2]:
a = np.arange(1,19).reshape((3,2,3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [3]:
a.shape

(3, 2, 3)

### Let's convert the **3-D array into 2-D**

### <b>Example 1

In [4]:
row = int(input(f"Enter no of rows(must be divisble of {a.size}):- "))
a = a.reshape((row,-1))
print(f"Number of columns(auto calculated) :-{a.shape[1]}")

Enter no of rows(must be divisble of 18):- 6
Number of columns(auto calculated) :-3

In [5]:
a.shape

(6, 3)

In [6]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

### <b>Example 2

In [7]:
column = int(input(f"Enter no of rows(must be divisble of {a.size}):- "))
a = a.reshape(( -1 ,column ))
print(f"Number of rows(auto calculated) :-{a.shape[0]}")

Enter no of rows(must be divisble of 18):- 9
Number of rows(auto calculated) :-2

In [8]:
a.shape

(2, 9)

### <b>Example 3

Now will convert **3-D array to 1-D array**

In [9]:
print("Array dimension is ",a.ndim)
print("Let's convert the array into 1-D array by using -1")
a = a.reshape(-1,)
print("New shape of the array is ",a.shape)
print("New array dimension is ",a.ndim)

Array dimension is  2
Let's convert the array into 1-D array by using -1
New shape of the array is  (18,)
New array dimension is  1