In [1]:
import numpy as np
import pandas as pd

In [5]:
from google.colab import drive
drive.mount("drive")

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [6]:
path = '/content/drive/MyDrive/AlmaBetter/Modules/Module 4 : Machine Learning/4.7 - Logistic Regression/Assignment/Copy of WA_Fn-UseC_-Telco-Customer-Churn.csv'
df = pd.read_csv(path)

In [7]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [8]:
print("The shape of the dataframe is ",df.shape)

The shape of the dataframe is  (7043, 21)

In [9]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

### As U can see out of 21 columns there are only **3 columns which are containing numerical values**


#### Now we will make 2 dataframe *(numerical_data , categorical_data )*

In [10]:
numeric_data = df.select_dtypes(include=[np.number])
categorical_data = df.select_dtypes(exclude=[np.number])

numeric_data.shape[1]
categorical_data.shape[1]

18

In [11]:
numeric_data.head(2)

   SeniorCitizen  tenure  MonthlyCharges
0              0       1           29.85
1              0      34           56.95

In [12]:
categorical_data.head(2)

   customerID  gender Partner  ...     PaymentMethod TotalCharges Churn
0  7590-VHVEG  Female     Yes  ...  Electronic check        29.85    No
1  5575-GNVDE    Male      No  ...      Mailed check       1889.5    No

[2 rows x 18 columns]